streamlit
torch==2.2.2
torchvision==0.17.2
git+https://github.com/ultralytics/yolov5.git@v7.0
ultralytics==8.2.50
opencv-python-headless
numpy
Pillow
pandas
requests
PyYAML
tqdm
matplotlib
seaborn
scipy
psutil
thop
